<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn From Home</title>
    <!-- Ignore this if you don't know -->
    <style>
        body {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
        
        .container {
            margin: auto;
            width: 60%;
        }
    </style>
    <!--  -->
</head>

<body>
    <div class="container">
        <h1>Learn from Home</h1>
        {% block content %} {% endblock%}
    </div>
</body>

</html>